.conteiner{
   background-color: #FAFFFC;
   margin: 20px;
}
.borda-imagem-site{
   border: solid 8px black;
   display: inline-block;
   width: 45%;
   box-sizing: border-box;
   padding: 16px;
   margin-right: 16px;
   margin-bottom: 16px;
}
.portfolio img {
   width: 100%;
   text-align: justify;
   box-shadow: 0 0 30px #000,0 0 40px #FAFFFC,0 0 50px red;
}

