
h2 {
   font-size: 22px;
   clear: both;

}
.titulo-principal{
   background-color: #851944;
   color: #ffffff;
   text-align: center;
   font-size: 300%;
   padding: 2rem;
   border: 10px solid #C2CCCA;
   border-bottom: .5rem solid #000;
   position: relative;
   perspective-origin: 50% 160px;
   background-image: linear-gradient(to bottom, #fff,#888 100%, #000);
   background-size: 100% 200px;
   background-repeat: no-repeat;
   background-attachment: fixed;
}
.titulo-principal h1{
   text-shadow: 5px 5px #000;
   text-transform: uppercase;
}


main h2 {
   font-size: 30px;
}
.centralizar-pagina{
   margin: auto;
   width: 85%;
   padding: 30px;
   float: left;
   box-sizing: border-box;
   padding-bottom: 80px;

}


strong {
   font-weight: bold;
}

em {
   font-style: italic;
}

body {
   background-color: #f2fffc;
   font-size: 200%;
   font-family: "Crimson Text", "Times New Roman", serif;
   line-height: 1.5;
}

p {
   text-align: justify;
   margin-bottom: 20px;
   margin-top: 20px;
}

h2,h1 {
   font-family: "Open Sans Condensed", sans-serif;
}
main h1{
	text-transform: uppercase;
}

.rodape-pagina{
   color: white;

   padding: 20px;
   margin-top: 20px;
   clear: both;
   position: fixed;
   width: 100%;
   bottom: 0px;
   left: 0px;
   box-sizing: border-box;
   opacity: .5;
   background-image: radial-gradient(ellipse at left bottom,
      rgba(60,29,61,0.8),
      rgba(60,29,61,0.8) 65%,65%, black 65%, black 70%, transparent 70%,transparent);
   background-size: 25% 100%;
   background-repeat: no-repeat;
}
.link-artigo{
   font-size: 24px;
   padding: 8px;
   margin: 16px;
   background-color: #E6E7E8;
   text-align: center;
   display: block;
}


aside h1{
   font-size: 30px;
	text-transform: uppercase;
}
.navegacao-site{
   border-bottom: solid 10px black;
   border-left: 10px solid black;
   background-color: #3C1D3D;
   color: #F2FFFC;
   padding: 20px;
   text-align: center;
   float: right;
   box-sizing: border-box;
   clear: right;
   position: relative;
   top: 140px;
}
.navegacao-site a:hover,
.navegacao-site a:focus{
   text-shadow: 0 0 2px pink;
}
nav a {
   color: #F2FFFC;
	text-transform: lowercase;
}


main a {
   color: #851944;
}

aside a {
   color: inherit;
   font-family: "Open Sans Condensed", sans-serif;
}


.icones-sociais li {
    display: inline-block;
}
.icones-sociais-texto a {
    width: 40px;
    height: 40px;
    display: block;
	font-size: 0;
}
.icone-github{
	background-image: url(/img/github.png);
}
.icone-twitter{
	background-image: url(/img/twitter.png)
}
.icone-linkedin{
	background-image: url(/img/linkedin.png);
}
.icone-facebook{
	background-image: url(/img/icon-facebook.png);
}
.foto-lateral{
   box-sizing: border-box;
   float: right;
   width: 300px;
   border-bottom: solid 10px black;
   border-left: 10px solid black;
   position: absolute;
   top: 0px;
   right: 0px;

 }

